/* line 5, ../../../../../../../../../../.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
 * Font Face mixin by Jonathant Neal
 * Get the gist here: https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
 */
@font-face {
  font-family: "SourceSansPro";
  font-weight: 400;
  src: url("../fonts/sourcesanspro-regular-webfont.eot?") format("eot"), url("../fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg#SourceSansPro") format("svg");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 600;
  src: url("../fonts/sourcesanspro-semibold-webfont.eot?") format("eot"), url("../fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-semibold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-semibold-webfont.svg#SourceSansPro") format("svg");
}
/* line 6, ../sass/app.scss */
body {
  font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

/* line 11, ../sass/app.scss */
h1 {
  color: black;
  text-shadow: 1px 1px 0px #FFF;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 180px 6px 600px 6px;
}

/* line 20, ../sass/app.scss */
section {
  float: none;
  display: block;
}
/* line 23, ../sass/app.scss */
section.fullPage {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}
/* line 29, ../sass/app.scss */
section.coverInstide, section.backCoverInside, section.backCover {
  display: none;
}

/* line 34, ../sass/app.scss */
figure {
  float: left;
}
/* line 36, ../sass/app.scss */
figure img {
  display: inline-block;
  margin: 12px;
}
/* line 40, ../sass/app.scss */
figure figcaption {
  margin: 24px;
  margin: 0px 24px 24px 24px;
}

@media print {
  /* line 4, ../sass/_print.scss */
  section.fullPage {
    page: cover;
    width: 100%;
    height: 30cm;
    display: block !important;
  }
  /* line 10, ../sass/_print.scss */
  section.inside {
    page: inside;
    page-break-after: right;
  }

  /* line 19, ../sass/_print.scss */
  figure {
    page-break-inside: avoid;
  }

  @page {
    size: A4;
    margin: 0;
  }
  @page inside:left {
    margin-top: 1.5cm;
    margin-right: 1.5cm;
    margin-bottom: 2cm;
    margin-left: 1cm;
    @left-middle {
      content: counter(page);
      font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
      font-weight: 600;
      margin-left: 24px;
      text-align: left;
    }
    @top-left {
      content: "3 minutes";
      font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
      font-weight: 600;
    }
  }
  @page inside:right {
    margin-top: 1.5cm;
    margin-right: 1cm;
    margin-bottom: 2cm;
    margin-left: 1.5cm;
    @right-middle {
      content: counter(page);
      font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
      font-weight: 600;
      text-align: right;
      margin-right: 24px;
    }
    @bottom-right {
      content: "at_home.log";
      font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
      font-weight: 600;
    }
  }
  @page :first {
    page-break-after: right !important;
    @left-middle , @right-middle {
      content: "" !important;
    }
  }
  @page cover {
    @left-middle , @right-middle {
      content: "" !important;
    }
  }
}
