doctype 
html
  include ./includes/head.jade
  body

    // content: url("'+logData[0].url+'");
    section.cover.fullPage(style='background-image: url("'+logData[0].url+'");')
      h1= time+' '+title

    section.coverInstide.fullPage(style='background-image: url("'+logData[1].url+'");')

    section.inside
      each line in logData
        - var top = Math.ceil(Math.random() * (15 - 2) + 2) * 6 + 'px';
        - var right = Math.ceil(Math.random() * (10 - 2) + 2) * 6 + 'px';
        - var bottom = Math.ceil(Math.random() * (15 - 2) + 2) * 6 + 'px';
        - var left = Math.ceil(Math.random() * (10 - 2) + 2) * 6 + 'px';
        figure(style='margin:'+top+' '+right+' '+bottom+' '+left+';')
          img(src= line.url alt= line.deviceName + " looked at this image at "+ line.timestamp title= line.deviceName + " looked at this image at "+ line.timestamp)
          figcaption= line.deviceName + " looked at \u21a5"

    //section.colophon
    // list all campured devices

    section.backCoverInside.fullPage(style='background-image: url("'+logData[lastLog-1].url+'");')
    section.backCover.fullPage(style='background-image: url("'+logData[lastLog].url+'");')
      