doctype 
html
  include ./includes/head.jade
  body

    section.cover(style='background-image: url('+logData[5].url+');')
      h1= '3.245 minutes '+title

    section.inside
      each line in logData
        figure
          img(src= line.url alt= line.deviceName + " looked at this image at "+ line.timestamp title= line.deviceName + " looked at this image at "+ line.timestamp)
          figcaption= line.deviceName + " looked at:"

    section.colophon

    section.back
      