doctype 
html
  include ./includes/head.jade
  body
    section.loglist
      ul
        each file in files
          li
            a(href='/print/'+file, title='Transform '+file+' into a booklet!')= file