@media print {

  section {
    &.fullPage {
      page: cover; 
      width: 100%;
      height: 30cm;
      display: block !important;
    }
    &.inside {
      page: inside;
      page-break-after: right;
    }
    &.backCoverInside {
      //page-break-before: right;
    }
  }

  figure {
    page-break-inside: avoid;
  }


  @page {
    size: A4;
    margin: 0;
  }

  @page inside:left {
    margin-top: 1.5cm;
    margin-right: 1.5cm;
    margin-bottom: 2cm;
    margin-left: 1cm;
    @left-middle {
      content: counter(page);
      font-family: $sans;
      font-weight: 600;
      margin-left: 24px;   
      text-align: left;
    }
    @top-left {
      content: "3 minutes";
      font-family: $sans;
      font-weight: 600;
    }
  }

  @page inside:right {
    margin-top: 1.5cm;
    margin-right: 1cm;
    margin-bottom: 2cm;
    margin-left: 1.5cm;
    @right-middle {
      content: counter(page);
      font-family: $sans;
      font-weight: 600;
      text-align: right;
      margin-right: 24px;
    }
    @bottom-right {
      content: "at_home.log";
      font-family: $sans;
      font-weight: 600;
    }
  }

  @page :first {
    //margin: 0 !important;
    page-break-after: right !important;
    @left-middle, @right-middle {
      content: "" !important;
    }
  }

  @page cover {
    //margin: 0 !important;
    //page-break-after: right !important;
    @left-middle, @right-middle {
      content: "" !important;
    }
  }
}