@import "compass/reset";
@import "fonts";

$baseUnit: 6px;

body {
    font-family: $sans;
    font-size: $baseUnit*2;
}

h1 {
  color: black;
  text-shadow: 1px 1px 0px #FFF;
  font-size: $baseUnit*5;
  font-weight: 600;
  text-align: center;
  padding: $baseUnit*30 $baseUnit $baseUnit*100 $baseUnit;
}

section {
  float: none;
  display: block;
  &.fullPage {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
  }
  &.coverInstide, &.backCoverInside, &.backCover {
    display: none;
  }
}

figure {
  float: left;
  img {
    display: inline-block;
    margin: $baseUnit*2;
  }
  figcaption {
    margin: $baseUnit*4;
    margin: 0px $baseUnit*4 $baseUnit*4 $baseUnit*4;
  }
}

@import "print";